Comment Section
[{"id":"a4a14337.56465","type":"ui_form","z":"66e00d7b.fb31c4","name":"","label":"List Below!","group":"9fea1ee6.33b12","order":0,"width":0,"height":0,"options":[{"label":"Recommendations","value":"type","type":"text","required":false}],"formValue":{"type":""},"payload":"","topic":"","x":159,"y":138,"wires":[["5c89c9b6.2ec768"]]},{"id":"bf5a119.5a77af","type":"ui_text","z":"66e00d7b.fb31c4","group":"3f55b62f.9e4dda","order":0,"width":0,"height":0,"name":"","label":"1.","format":"{{msg.payload.type}}","layout":"row-spread","x":575,"y":263,"wires":[]},{"id":"fbc2bd1a.68f69","type":"switch","z":"66e00d7b.fb31c4","name":"","property":"payload.count","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":5,"x":290,"y":365,"wires":[["bf5a119.5a77af"],["7a7454e9.ff2ecc"],["7efd960c.75e2e8"],["45c5c575.4574cc"],["3b237cef.266284"]]},{"id":"7a7454e9.ff2ecc","type":"ui_text","z":"66e00d7b.fb31c4","group":"3f55b62f.9e4dda","order":0,"width":0,"height":0,"name":"","label":"2.","format":"{{msg.payload.type}}","layout":"row-spread","x":598,"y":308,"wires":[]},{"id":"7efd960c.75e2e8","type":"ui_text","z":"66e00d7b.fb31c4","group":"3f55b62f.9e4dda","order":0,"width":0,"height":0,"name":"","label":"3.","format":"{{msg.payload.type}}","layout":"row-spread","x":608,"y":361,"wires":[]},{"id":"45c5c575.4574cc","type":"ui_text","z":"66e00d7b.fb31c4","group":"3f55b62f.9e4dda","order":0,"width":0,"height":0,"name":"","label":"4.","format":"{{msg.payload.type}}","layout":"row-spread","x":619,"y":420,"wires":[]},{"id":"3b237cef.266284","type":"ui_text","z":"66e00d7b.fb31c4","group":"3f55b62f.9e4dda","order":0,"width":0,"height":0,"name":"","label":"5.","format":"{{msg.payload.type}}","layout":"row-spread","x":614,"y":462,"wires":[]},{"id":"c58d6f5f.30ac1","type":"ui_button","z":"66e00d7b.fb31c4","name":"","group":"3f55b62f.9e4dda","order":0,"width":0,"height":0,"passthru":false,"label":"Erase","color":"","bgcolor":"red","icon":"fa-fire","payload":"None","payloadType":"str","topic":"","x":122,"y":497,"wires":[["95b3502.e6cd3b","f52a7638.80a988"]]},{"id":"95b3502.e6cd3b","type":"change","z":"66e00d7b.fb31c4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"None","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":302,"y":501,"wires":[["bf5a119.5a77af","7efd960c.75e2e8","7a7454e9.ff2ecc","45c5c575.4574cc","3b237cef.266284"]]},{"id":"5c89c9b6.2ec768","type":"function","z":"66e00d7b.fb31c4","name":"Count Issues","func":"var count2=context.global.count2;\ncount2=count2+1;\nif (count2 > 5) {\n    count2=1\n}\ncontext.global.count2=count2;\nmsg.payload.count=count2;\nreturn msg;","outputs":1,"noerr":0,"x":196,"y":236,"wires":[["fbc2bd1a.68f69"]]},{"id":"71759641.e57898","type":"inject","z":"66e00d7b.fb31c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":188,"y":87,"wires":[["f52a7638.80a988"]]},{"id":"f52a7638.80a988","type":"function","z":"66e00d7b.fb31c4","name":"","func":"context.global.count=0;\ncontext.global.count2=0;\nreturn msg;","outputs":1,"noerr":0,"x":336,"y":82,"wires":[[]]},{"id":"1a2658ae.40d7d7","type":"ui_form","z":"66e00d7b.fb31c4","name":"","label":"","group":"9fea1ee6.33b12","order":0,"width":0,"height":0,"options":[{"label":"Comments","value":"type","type":"text","required":false}],"formValue":{"type":""},"payload":"","topic":"","x":180,"y":586,"wires":[["c9b5de81.c987"]]},{"id":"18be1a0d.c25676","type":"ui_text","z":"66e00d7b.fb31c4","group":"bd6b5dc2.1e03b","order":0,"width":0,"height":0,"name":"","label":"1.","format":"{{msg.payload.type}}","layout":"row-spread","x":606,"y":711,"wires":[]},{"id":"530985c1.89202c","type":"switch","z":"66e00d7b.fb31c4","name":"","property":"payload.count","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":5,"x":316,"y":811,"wires":[["18be1a0d.c25676"],["2a6ac9d5.7d5b26"],["f81e3c4e.17258"],["365afcd1.dcf294"],["58e9ee2b.c5c46"]]},{"id":"2a6ac9d5.7d5b26","type":"ui_text","z":"66e00d7b.fb31c4","group":"bd6b5dc2.1e03b","order":0,"width":0,"height":0,"name":"","label":"2.","format":"{{msg.payload.type}}","layout":"row-spread","x":636,"y":754,"wires":[]},{"id":"f81e3c4e.17258","type":"ui_text","z":"66e00d7b.fb31c4","group":"bd6b5dc2.1e03b","order":0,"width":0,"height":0,"name":"","label":"3.","format":"{{msg.payload.type}}","layout":"row-spread","x":641,"y":810,"wires":[]},{"id":"365afcd1.dcf294","type":"ui_text","z":"66e00d7b.fb31c4","group":"bd6b5dc2.1e03b","order":0,"width":0,"height":0,"name":"","label":"4.","format":"{{msg.payload.type}}","layout":"row-spread","x":650,"y":868,"wires":[]},{"id":"58e9ee2b.c5c46","type":"ui_text","z":"66e00d7b.fb31c4","group":"bd6b5dc2.1e03b","order":0,"width":0,"height":0,"name":"","label":"5.","format":"{{msg.payload.type}}","layout":"row-spread","x":645,"y":910,"wires":[]},{"id":"62e0c079.f0ebc","type":"ui_button","z":"66e00d7b.fb31c4","name":"","group":"bd6b5dc2.1e03b","order":0,"width":0,"height":0,"passthru":false,"label":"Erase","color":"","bgcolor":"red","icon":"fa-fire","payload":"None","payloadType":"str","topic":"","x":166,"y":944,"wires":[["6c677fba.b426","f52a7638.80a988"]]},{"id":"6c677fba.b426","type":"change","z":"66e00d7b.fb31c4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"None","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":333,"y":949,"wires":[["18be1a0d.c25676","f81e3c4e.17258","2a6ac9d5.7d5b26","365afcd1.dcf294","58e9ee2b.c5c46"]]},{"id":"c9b5de81.c987","type":"function","z":"66e00d7b.fb31c4","name":"Count Issues","func":"var count=context.global.count;\ncount=count+1;\nif (count > 5) {\n    count=1\n}\ncontext.global.count=count;\nmsg.payload.count=count;\nreturn msg;","outputs":1,"noerr":0,"x":227,"y":688,"wires":[["530985c1.89202c"]]},{"id":"9fea1ee6.33b12","type":"ui_group","z":"","name":"Comments or Recommendations?","tab":"2a0303.92f6bcfe","order":2,"disp":true,"width":"6","collapse":false},{"id":"3f55b62f.9e4dda","type":"ui_group","z":"","name":"Recommendations","tab":"2a0303.92f6bcfe","order":3,"disp":true,"width":"6","collapse":false},{"id":"bd6b5dc2.1e03b","type":"ui_group","z":"","name":"Comments","tab":"2a0303.92f6bcfe","order":4,"disp":true,"width":"6","collapse":false},{"id":"2a0303.92f6bcfe","type":"ui_tab","z":"","name":"Comments/Recommendations","icon":"exclamation","order":6}]
