Forums Page
[{"id":"819682e.54ca38","type":"ui_form","z":"bf8f1688.f13b18","name":"","label":"Issue","group":"570e3850.3ec838","order":0,"width":0,"height":0,"options":[{"label":"Type Of Issue","value":"type","type":"text","required":true},{"label":"Issue Name","value":"name","type":"text","required":true},{"label":"Issue Description","value":"descrip","type":"text","required":true}],"formValue":{"type":"","name":"","descrip":""},"payload":"","topic":"","x":55,"y":122,"wires":[["8bc3c60b.1c1cc8","cbad8053.0a243"]]},{"id":"8bc3c60b.1c1cc8","type":"debug","z":"bf8f1688.f13b18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":582,"y":187,"wires":[]},{"id":"1d49f116.ea2dbf","type":"ui_text","z":"bf8f1688.f13b18","group":"6bd92dbb.cc9514","order":1,"width":0,"height":0,"name":"","label":"Type Of Issue #1","format":"{{msg.payload.type}}","layout":"col-center","x":524,"y":230,"wires":[]},{"id":"e1f3a2e3.aa4a","type":"switch","z":"bf8f1688.f13b18","name":"","property":"payload.count","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":106,"y":275,"wires":[["1d49f116.ea2dbf","ef59764.f817d88","7f12f11e.323e7"],["ecc8cd18.7c7c2","2b97498c.0ce686","a3a22fc8.df227"],["11417955.4b9b97","c5efb43.d6c4b48","35a3454e.0bdd4a"]]},{"id":"b4d9ae25.bef18","type":"change","z":"bf8f1688.f13b18","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"None","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":334,"y":410,"wires":[["1d49f116.ea2dbf","ef59764.f817d88","7f12f11e.323e7"]]},{"id":"cbad8053.0a243","type":"function","z":"bf8f1688.f13b18","name":"Count Issues","func":"var count=context.global.count;\ncount=count+1;\nif (count > 3) {\n    count=1\n}\ncontext.global.count=count;\nmsg.payload.count=count;\nreturn msg;","outputs":1,"noerr":0,"x":168,"y":213,"wires":[["e1f3a2e3.aa4a","e9bbce58.9e0c"]]},{"id":"e9bbce58.9e0c","type":"debug","z":"bf8f1688.f13b18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":342,"y":201,"wires":[]},{"id":"2565bc99.310134","type":"function","z":"bf8f1688.f13b18","name":"","func":"context.global.count=0;\nreturn msg;","outputs":1,"noerr":0,"x":302,"y":77,"wires":[[]]},{"id":"ef59764.f817d88","type":"ui_text","z":"bf8f1688.f13b18","group":"6bd92dbb.cc9514","order":2,"width":0,"height":0,"name":"","label":"Name Of Issue #1","format":"{{msg.payload.name}}","layout":"col-center","x":670,"y":228,"wires":[]},{"id":"7f12f11e.323e7","type":"ui_text","z":"bf8f1688.f13b18","group":"6bd92dbb.cc9514","order":3,"width":0,"height":0,"name":"","label":"Issue Description #1","format":"{{msg.payload.descrip}}","layout":"col-center","x":836,"y":227,"wires":[]},{"id":"ecc8cd18.7c7c2","type":"ui_text","z":"bf8f1688.f13b18","group":"356685c7.4ccdaa","order":1,"width":0,"height":0,"name":"","label":"Type Of Issue #2","format":"{{msg.payload.type}}","layout":"col-center","x":528,"y":265,"wires":[]},{"id":"2b97498c.0ce686","type":"ui_text","z":"bf8f1688.f13b18","group":"356685c7.4ccdaa","order":2,"width":0,"height":0,"name":"","label":"Name Of Issue #2","format":"{{msg.payload.name}}","layout":"col-center","x":689,"y":264,"wires":[]},{"id":"a3a22fc8.df227","type":"ui_text","z":"bf8f1688.f13b18","group":"356685c7.4ccdaa","order":3,"width":0,"height":0,"name":"","label":"Issue Description #2","format":"{{msg.payload.descrip}}","layout":"col-center","x":840,"y":266,"wires":[]},{"id":"11417955.4b9b97","type":"ui_text","z":"bf8f1688.f13b18","group":"33413480.d851fc","order":1,"width":0,"height":0,"name":"","label":"Type Of Issue #3","format":"{{msg.payload.type}}","layout":"col-center","x":526,"y":298,"wires":[]},{"id":"c5efb43.d6c4b48","type":"ui_text","z":"bf8f1688.f13b18","group":"33413480.d851fc","order":2,"width":0,"height":0,"name":"","label":"Name Of Issue #3","format":"{{msg.payload.name}}","layout":"col-center","x":668,"y":296,"wires":[]},{"id":"35a3454e.0bdd4a","type":"ui_text","z":"bf8f1688.f13b18","group":"33413480.d851fc","order":3,"width":0,"height":0,"name":"","label":"Issue Description #3","format":"{{msg.payload.descrip}}","layout":"col-center","x":842,"y":296,"wires":[]},{"id":"1e2819ec.751cd6","type":"ui_button","z":"bf8f1688.f13b18","name":"","group":"6bd92dbb.cc9514","order":4,"width":0,"height":0,"passthru":false,"label":"Erase #1","color":"Black","bgcolor":"Red","icon":"fa-fire","payload":"None","payloadType":"str","topic":"","x":145,"y":404,"wires":[["b4d9ae25.bef18","2565bc99.310134"]]},{"id":"80c46dba.a0969","type":"inject","z":"bf8f1688.f13b18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":84,"y":79,"wires":[["2565bc99.310134"]]},{"id":"f83f8e4e.43c8f","type":"change","z":"bf8f1688.f13b18","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"None","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":326,"y":455,"wires":[["ecc8cd18.7c7c2","2b97498c.0ce686","a3a22fc8.df227"]]},{"id":"34498e39.a1a1a2","type":"ui_button","z":"bf8f1688.f13b18","name":"","group":"356685c7.4ccdaa","order":4,"width":0,"height":0,"passthru":false,"label":"Erase #2","color":"Black","bgcolor":"Red","icon":"fa-fire","payload":"None","payloadType":"str","topic":"","x":144,"y":451,"wires":[["f83f8e4e.43c8f","e2bcb472.5d3828"]]},{"id":"1d3ebf05.e57611","type":"change","z":"bf8f1688.f13b18","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"None","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":331,"y":498,"wires":[["11417955.4b9b97","c5efb43.d6c4b48","35a3454e.0bdd4a"]]},{"id":"bd16a604.cb9c28","type":"ui_button","z":"bf8f1688.f13b18","name":"","group":"33413480.d851fc","order":4,"width":0,"height":0,"passthru":false,"label":"Erase #3","color":"Black","bgcolor":"Red","icon":"fa-fire","payload":"None","payloadType":"str","topic":"","x":142,"y":492,"wires":[["1d3ebf05.e57611","adf9bdbb.0a6f2"]]},{"id":"e2bcb472.5d3828","type":"function","z":"bf8f1688.f13b18","name":"","func":"context.global.count=1;\nreturn msg;","outputs":1,"noerr":0,"x":442,"y":73,"wires":[[]]},{"id":"adf9bdbb.0a6f2","type":"function","z":"bf8f1688.f13b18","name":"","func":"context.global.count=2;\nreturn msg;","outputs":1,"noerr":0,"x":592,"y":81,"wires":[[]]},{"id":"570e3850.3ec838","type":"ui_group","z":"","name":"Input","tab":"e6356236.25ee1","order":1,"disp":true,"width":"6","collapse":false},{"id":"6bd92dbb.cc9514","type":"ui_group","z":"","name":"Issue 1","tab":"e6356236.25ee1","order":2,"disp":true,"width":"6","collapse":false},{"id":"356685c7.4ccdaa","type":"ui_group","z":"","name":"Issue 2","tab":"e6356236.25ee1","order":3,"disp":true,"width":"6","collapse":false},{"id":"33413480.d851fc","type":"ui_group","z":"","name":"Issue 3","tab":"e6356236.25ee1","order":4,"disp":true,"width":"6","collapse":false},{"id":"e6356236.25ee1","type":"ui_tab","z":"","name":"Forums","icon":"shower","order":1}]
