HTML Link
[{"id":"1d7156e9.dbf209","type":"http response","z":"4b14cd5c.7baa74","name":"","statusCode":"","headers":{},"x":605,"y":104,"wires":[]},{"id":"4945d200.499e2","type":"template","z":"4b14cd5c.7baa74","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <title>Wolfpack Water App</title>\n        \n        <style>\nbody {font-family: Arial, Helvetica, sans-serif;}\n\ninput[type=text], input[type=password] {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    box-sizing: border-box;\n}\n\nh1 {\n    font-family:Verdana, Geneva, sans-serif;\n}\n\nh2 {\n    font-family:Verdana, Geneva, sans-serif;\n}\n\np {\n    font-family:Verdana, Geneva, sans-serif;\n}\n\nbutton {\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    cursor: pointer;\n    width: 100%;\n}\n\nbutton:hover {\n    opacity: 0.8;\n}\n\n.imgcontainer {\n    text-align: center;\n    margin: 24px 0 12px 0;\n    position: relative;\n}\n\nimg.avatar {\n    width: 40%;\n    border-radius: 50%;\n}\n\n.container {\n    padding: 16px;\n}\n\n.subbody {\n    visibility: hidden;\n}\nspan.psw {\n    float: right;\n    padding-top: 16px;\n}\n\n.modal {\n    display: none;\n    position: fixed;\n    z-index: 1; \n    left: 0;\n    top: 0;\n    width: 100%;\n    height: 100%; \n    overflow: auto;\n    background-color: rgb(0,0,0);\n    background-color: rgba(0,0,0,0.4);\n    padding-top: 60px;\n}\n\n.modal-content {\n    background-color: #fefefe;\n    margin: 5% auto 15% auto;\n    border: 1px solid #888;\n    width: 50%; \n}\n\n.close {\n    position: absolute;\n    right: 25px;\n    top: 0;\n    color: #000;\n    font-size: 35px;\n    font-weight: bold;\n}\n\n\n.close:hover,\n.close:focus {\n    color: red;\n    cursor: pointer;\n}\n\n.animate {\n    -webkit-animation: animatezoom 0.6s;\n    animation: animatezoom 0.6s\n}\n\n@-webkit-keyframes animatezoom {\n    from {-webkit-transform: scale(0)} \n    to {-webkit-transform: scale(1)}\n}\n    \n@keyframes animatezoom {\n    from {transform: scale(0)} \n    to {transform: scale(1)}\n}\n\n@media screen and (max-width: 300px) {\n    span.psw {\n       display: block;\n       float: none;\n    }\n    .cancelbtn {\n       width: 100%;\n    }\n}\n        </style>\n    </head>\n    \n    <body>\n        <div id=\"container\">\n            <div id=\"header\" style=\"background-color: blue; visibility: visible; align: top;\">\n                <h1 style=\"color: white; font-size: 100px\"><center>WOLFPACK WATER</center</h1>\n            </div>\n            \n            <div id=\"body\">\n                <div id=\"loginform\" visibility=\"visible\">\n                    <br><br><br><br>\n<div align=\"right\">\n<button onclick=\"document.getElementById('id01').style.display='block'\" style=\"width:auto; font-size: 24px; background-color: blue; text-align: top;\">Login</button>\n</div>\n<div id=\"id01\" class=\"modal\">\n  \n  <form class=\"modal-content animate\" action=\"/action_page.php\">\n    <div class=\"imgcontainer\">\n      <span onclick=\"document.getElementById('id01').style.display='none'\" class=\"close\" title=\"Close Modal\">&times;</span>\n      <img src=\"http://cdn.onlinewebfonts.com/svg/img_568656.png\" alt=\"Avatar\" class=\"avatar\">\n    </div>\n\n    <div class=\"container\">\n  <input type=\"radio\" name=\"user\" value=\"custodian\">Custodian<br>\n  <input type=\"radio\" name=\"user\" value=\"student\">Student <i>(Password not required)</i><br>\n   <br><br>\n   \n      <label for=\"psw\"><b>Password</b></label>\n      <input type=\"password\" placeholder=\"Enter Password\" name=\"psw\" required>\n        \n     <center> <button type=\"button\" style=\"width:auto;\" onclick=\"togglehide()\">Login</button></center>\n       </div>\n\n    </form>\n</div>\n\n<script>\n\nfunction togglehide() {\n    var x = document.getElementById(\"loginform\");\n    if (x.style.display === \"none\") {\n        x.style.display = \"block\";\n    } else {\n        x.style.display = \"none\";\n    }\n       var y = document.getElementById(\"bodypart2\");\n        y.style.display = \"none\";\n    if (y.style.display === \"block\") {\n        y.style.display = \"none\";\n    } else {\n        y.style.display = \"block\";\n    }\n}\n</script>\n\n\n                </div>\n                <div id=\"bodypart2\"><center>\n                               <br><br><br><br>\n               \n    <input type=\"button\" onclick=\"location.href='http://teamdelta.mybluemix.net/ui/#/2';\" value=\"Recommendations\" /><br><br>\n    <input type=\"button\" onclick=\"location.href='http://teamdelta.mybluemix.net/ui/#/1';\" value=\"Water Usage\" /><br><br><br>\n    <input type=\"button\" onclick=\"location.href='http://teamdelta.mybluemix.net/ui/#/0';\" value=\"Submit Problem\" />\n</form>\n           \n            </div> \n            </div>\n            <div id=\"footer\">\n                \n            </div>\n        </div>\n    </body>\n</html>","output":"str","x":452,"y":112,"wires":[["1d7156e9.dbf209"]]},{"id":"b5ed23dd.52ccd","type":"http in","z":"4b14cd5c.7baa74","name":"","url":"/wolfpackwater","method":"get","upload":false,"swaggerDoc":"","x":225,"y":130,"wires":[["4945d200.499e2"]]}]
