Water Usage Gauge
[{"id":"1c3ec5f8.9a7c7a","type":"ui_gauge","z":"4c2599cc.a296d8","name":"","group":"fc7cbc00.95b8f","order":0,"width":"6","height":"7","gtype":"wave","title":"Water Usage","label":"Ft^3","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":712,"y":301,"wires":[],"icon":"node-red-dashboard/ui_toast.png"},{"id":"d8ca23b8.d7feb","type":"function","z":"4c2599cc.a296d8","name":"Flushes","func":"var flushes=msg.payload;\nvar water=flushes*0.133681;\ncontext.global.total=context.global.total+water;\nmsg.payload=water;\nreturn msg;","outputs":1,"noerr":0,"x":258,"y":271,"wires":[["eafaf6a9.4d11c8","c632c4d6.d72c58"]]},{"id":"eafaf6a9.4d11c8","type":"debug","z":"4c2599cc.a296d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":461,"y":217,"wires":[]},{"id":"e12b3d5c.f2ff3","type":"ui_numeric","z":"4c2599cc.a296d8","name":"","label":"Number Of Flushes","group":"fc7cbc00.95b8f","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000","step":1,"x":97,"y":209,"wires":[["d8ca23b8.d7feb"]]},{"id":"93f71231.ae48","type":"ui_numeric","z":"4c2599cc.a296d8","name":"","label":"Number of Sink Uses","group":"fc7cbc00.95b8f","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000","step":1,"x":107,"y":336,"wires":[["6d59da32.4a8154"]]},{"id":"6d59da32.4a8154","type":"function","z":"4c2599cc.a296d8","name":"Sinks","func":"var sinks=msg.payload;\nvar water=sinks*0.200521;\ncontext.global.total=context.global.total+water;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":348,"wires":[["b4792a1.f461bd8","c632c4d6.d72c58"]]},{"id":"b4792a1.f461bd8","type":"debug","z":"4c2599cc.a296d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":465,"y":394,"wires":[]},{"id":"c632c4d6.d72c58","type":"change","z":"4c2599cc.a296d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"total","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":522,"y":301,"wires":[["1c3ec5f8.9a7c7a"]]},{"id":"31f013f9.d9ea9c","type":"function","z":"4c2599cc.a296d8","name":"","func":"context.global.total=0\nreturn msg;","outputs":1,"noerr":0,"x":223,"y":151,"wires":[[]]},{"id":"8a07e15.ccf272","type":"ui_button","z":"4c2599cc.a296d8","name":"","group":"fc7cbc00.95b8f","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"White","bgcolor":"Red","icon":"fa-fire","payload":"","payloadType":"str","topic":"","x":74,"y":146,"wires":[["31f013f9.d9ea9c","92850cc4.f071c"]]},{"id":"92850cc4.f071c","type":"change","z":"4c2599cc.a296d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":397,"y":163,"wires":[["1c3ec5f8.9a7c7a","e12b3d5c.f2ff3","93f71231.ae48"]]},{"id":"fc7cbc00.95b8f","type":"ui_group","z":"","name":"Water Usage","tab":"df9b8002.de987","order":1,"disp":true,"width":"6","collapse":false},{"id":"df9b8002.de987","type":"ui_tab","z":"","name":"Water Usage","icon":"dashboard","order":5}]
